@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600;700&display=swap');

:root{
    --color-primario: rgb(28, 0, 34);
    --line-style: 6px solid rgb(28, 0, 34);
    --fuente-Primaria: 'Raleway', sans-serif;
}



body{
    user-select: none;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    margin: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s ease;
}

h1{
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-family: var(--fuente-Primaria);
    color: var(--color-primario);
    padding: 30px;
    border-bottom: 5px solid var(--color-primario);
}

.linea{
    height: 3px;
    width: 100vw;
    background-color: var(--color-primario);
}

#contenedorGrilla{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    transform: scale(1.3);
    padding-top: 100px;
}

.cuadrado{
    height: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: var(--color-primario);
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

}

.arriba{
    border-bottom: var(--line-style);
}

.medio{
    border-left: var(--line-style);
    border-right: var(--line-style);
}

.abajo{
    border-top: var(--line-style);
}

.ganador{ /* CAMBIAR POR LINEA  */
    background-color: rgba(102, 136, 136, 0.23);
}


dialog {
    color: var(--color-primario);
    text-align: center;
    min-width: 30vw;
    background-color: rgba(240, 242, 255, 0.834);
    padding: 2.5rem;
    border: 2px solid #000;
    border-radius: 10px;
}

.dark-mode dialog{
    background-color: rgba(0, 0, 0, 0.2);
    color: #eee;
    border: 2px solid #EEE;
}

dialog h2 {
    font-family: var(--fuente-Primaria);
    font-size: xxx-large;

}

dialog button{
    font-family: var(--fuente-Primaria);
    padding: 1rem;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid #000;
    background-color: rgba(128, 200, 0, 0.6);
    cursor: pointer;
}

dialog button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}



.dark-mode dialog button{
    background-color: rgba(128, 200, 0, 0.6);
    color: #eee;
    border: 2px solid #eee;
}

dialog::backdrop{
    backdrop-filter: blur(5px);
}

.container-btn-mode{
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 2;
    font-size:0;
}



.btn-mode{
    display: inline-block;
    width: 60px;
    height: 35px;
    border: 2px solid #1A1C1E;
    transition: background-color .5s;
}

.btn-mode i {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 33px;
}

.btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 2px solid #1A1C1E;
}

.btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sun{
    color:#ffcd5c !important;
    background-color: transparent;
    cursor: pointer;
}

.moon{
    color:#553e80 !important;
    background-color: transparent;
    cursor: pointer;
}

.sun.active{
    background-color: #1A1C1E;
    cursor: default;
}

.sun.transparent{
    background-color: transparent !important;
}

.moon.active{
    background-color: #1A1C1E;
    cursor: default;
}

.dark-mode{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    transition: background .5s;
}

.dark-mode .arriba, .dark-mode .abajo, .dark-mode .medio{
    border-color: #000;
}

.dark-mode h1{
    color: #000;
    border-bottom: 5px solid #000;
}

.dark-mode .cuadrado{
    color: #000;
}

.dark-mode .btn-mode{
    background-color:#1A1C1E;
    border: 2px solid #1A1C1E;
}