@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600;700&display=swap');

:root{
    --color-primario: rgb(28, 0, 34);
    --line-style: 6px solid var(--color-primario);
    --fuente-Primaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    user-select: none;
    background-color: #ddd;
    font-family: 'Lato', sans-serif;
}


h1{
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-family: var(--fuente-Primaria);
    color: var(--color-primario);
}

#contenedorGrilla{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

.cuadrado{
    height: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: var(--color-primario);
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

}

.arriba{
    border-bottom: var(--line-style);
}

.medio{
    border-left: var(--line-style);
    border-right: var(--line-style);
}

.abajo{
    border-top: var(--line-style);
}

.ganador{ /* CAMBIAR POR LINEA  */
    background-color: rgba(102, 136, 136, 0.23);
}

dialog {
    color: var(--color-primario);
    text-align: center;
    min-width: 50vw;
    background-color: rgba(240, 242, 255, 0.834);
    padding: 2.5rem;
    border: unset;
    border-radius: 10px;
}

dialog h2 {
    font-family: var(--fuente-Primaria);
    font-size: xx-large;

}

dialog button{
    font-family: var(--fuente-Primaria);
    font-size: larger;
    padding: 1rem;
    
}

dialog::backdrop{
    backdrop-filter: blur(3px);
}